@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "MICEGothic Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/MICEGothic Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}
@layer base {
  body {
    @apply scrollbar-none;
    @apply font-gothic;
  }
}

@layer components {
  .btn-blue {
    /* @apply px-4 py-2 font-bold text-white bg-blue-600 rounded hover:bg-blue-500; */
  }
}
